@page
@model Inventory.Pages.AboutModel
@{
    ViewData["Title"] = "Informazioni";
}

<h1>Informazioni</h1>

<p>
    Questa applicazione è stata creata da <a href="mailto:menon.andrea@gmail.com">Andrea Menon</a>
</p>
